    <!-- Top Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark custom-navbar fixed-top shadow">
      <div class="container-fluid">
        <i data-feather="check-square" class="me-2 ms-3 brand-icon"></i>
        <a class="navbar-brand tinos-regular" href="#">Taskify</a>

        <!-- Mobile toggle -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
                data-bs-target="#navbarContent" aria-controls="navbarContent" 
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar content -->
        <div class="collapse navbar-collapse" id="navbarContent">
          <div class="d-flex align-items-center ms-auto">
            <a class="nav-link me-3" href="#">Sign Up</a>
            <a class="nav-link me-3" href="#">Sign In</a>

            <div class="dropdown">
              <button class="btn btn-link p-0 border-0 dropdown-toggle" 
                      type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://via.placeholder.com/36" class="rounded-circle" width="36" height="36">
              </button>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Sign Out</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>